.card-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.card-details-content {
  background-color: white;
  padding: 24px;
  padding-bottom: 0px;
  border-radius: 24px;
  width: 430px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.card-main-content {
  overflow-y: auto;
}

.card-overlay-content-scrollbar {
  overflow-y: auto;
}

.margin-bottom {
  margin-bottom: 40px;
}

.contact-change {
  display: flex;
  gap: 10px;
  align-items: center;
}

.edit-icon {
  margin-right: 12px;
}

.edit-icon:hover,
.delete:hover {
  cursor: pointer;
  color: rgba(0, 124, 238, 1);
}

.delete-display:hover {
  color: #29abe2;
  cursor: pointer;
}

.task-overlay-contact {
  display: flex;
  align-items: center;
  margin: 8px 0 8px 12px;
}

.task-subtask {
  margin-bottom: 8px;
}

.task-list {
  margin: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.card-overlay {
  height: 100%;
}

.task-overlay-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 12px;
  padding-bottom: 12px;
  padding-top: 4px;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.margin-left {
  margin-left: 8px;
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirmation-box {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.confirmation-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  transform: scale(1);
}

.btn:active {
  transform: scale(0.95); /* Click animation */
}

.btn-confirm {
  background-color: #ff4d4d;
  color: white;
}

.btn-confirm:hover {
  background-color: #e60000;
}

.btn-cancel {
  background-color: #e0e0e0;
}

.btn-cancel:hover {
  background-color: #c2c2c2;
}

.edit-input,
.edit-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: black;
}

.edit-input-subtask {
  width: 270px !important;
}

.edit-textarea {
  resize: vertical;
  min-height: 80px;
}

.edit-btn-row {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  justify-content: flex-end;
}

.card-overlay-header-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.card-overlay-header-flex-right {
  display: flex;
  justify-content: right;
  padding-bottom: 12px;
  width: 350px;
}

.task-title {
  font-size: 36px;
  margin-bottom: 12px;
}

.task-description {
  margin-bottom: 12px;
  font-size: 18px;
}

.task-date {
  margin-bottom: 12px;
}

.task-priority {
  margin-bottom: 12px;
  margin-right: 12px;
}

.flex-priority {
  display: flex;
}

.avatar {
  background-color: #29abe2;
  border: 2px solid white;
  color: white;
}

.avatar-card-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 16px;
  font-size: 16px;
  margin-left: -10px;
}

.edit-selected-avatars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.contactListElement.selected {
  background-color: rgb(42, 54, 71);
  border-radius: 8px;
  color: white;
}

.contactListElement.selected:hover {
  background-color: rgb(42, 54, 71);
  color: white;
}

.edit-drop-down-contact-list {
  width: 100%;
  height: 180px;
  position: absolute;
  background-color: #ffffff;
  top: 82px;
  z-index: 9999;
  border-radius: 10px;
  overflow-y: scroll;
}

.edit-form {
  width: 350px;
  margin-left: 8px;
}

#edit-drop-down-contact-list {
  scroll-behavior: auto;
}

.edit-subtask-label {
  margin-top: 12px;
}

.subtask {
  align-items: center !important;
  display: flex;
  width: 350px;
}

.edit-add-subtask-img {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 60px;
  right: 12px;
}

.edit-cancel-task-img,
.edit-accept-task-img {
  height: 22px;
  width: 22px;
  cursor: pointer;
  position: absolute;
  top: 55px;
}

.edit-accept-task-img {
  right: 15px;
}

.edit-cancel-task-img {
  right: 45px;
}

.edit-small-separator {
  position: absolute;
  height: 24px;
  width: 0px;
  border: 1px solid #d1d1d1;
  top: 55px;
  right: 40px;
}

.edit-checkbox {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.subtask-title {
  width: 270px !important;
  max-height: 40px;
  overflow-x: hidden;
}

.card-overlay-subtask-title {
  max-width: 280px;
  overflow-x: hidden;
}

.selected-avatars-overlay {
  height: 180px;
  overflow-y: auto;
}

.negative-margin {
  margin-top: -10px;
}

.task-edited-msg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 20px;
  width: 326px;
  height: 74px;
  box-shadow: 0px 4px 0px 0px rgb(0, 0, 0, 0.1);
  position: fixed;
  left: 50vw;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: editedIn 0.15s forwards;
  z-index: 9999; /* Animation duration and forwards to keep the end position */
}

@keyframes editedIn {
  0% {
    transform: translate(-50%, 100vh); /* Start from the bottom of the viewport */
  }
  100% {
    transform: translate(-50%, -50%); /* Move to the middle of the viewport */
  }
}

.closingEdited {
  animation: slideOutEdited ease-in-out 0.45s 1 normal forwards;
}

@keyframes slideOutEdited {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 100vh); /* Move to the bottom of the viewport */
  }
}

.task-deleted-msg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 20px;
  width: 326px;
  height: 74px;
  box-shadow: 0px 4px 0px 0px rgb(0, 0, 0, 0.1);
  position: fixed;
  left: 50vw;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: deleted 0.15s forwards;
  z-index: 9999; /* Animation duration and forwards to keep the end position */
}

.closingDeleted {
  animation: slideOutDeleted ease-in-out 0.45s 1 normal forwards;
}

@keyframes slideOutDeleted {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 100vh); /* Move to the bottom of the viewport */
  }
}
