@media (max-width: 1250px) {
  .board-columns {
    flex-direction: column;
    padding-left: 300px;
    padding-bottom: 60px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }

  .column {
    flex-direction: row;
    width: 100%;
    min-width: 90%;
    height: auto;
    overflow-y: auto;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-margin-top: 1rem;
    padding: 1rem 0.4rem;
  }
  .card-s {
    flex-shrink: 0;
  }

  .title-section {
    flex-direction: column;
    align-items: normal;
    gap: 30px;
  }
  .searchfield {
    width: 80%;
  }

  .search-field-and-icons {
    position: relative;
    width: 300px;
  }
  .search-field-and-icons input {
    width: 300px;
  }
  .search-icon {
    right: 10px;
  }
  .separator-search {
    right: 45px;
  }
}

@media (max-width: 970px) {
  .searchfield {
    width: 60%;
  }
  .search-icon {
    right: 10px;
  }
  .separator-search {
    right: 45px;
  }
}

@media (max-width: 850px) {
  .search_add_task_btn {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 115px;
    height: 0px;
  }
  .error-msg-not-found {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .board-wrapper {
    padding: 0px;
  }
  .board-content {
    margin: 0px;
  }
  .search_add_task_btn {
    margin-bottom: 55px;
  }
  .title-section {
    margin: 50px 0px 50px 0px;
    justify-content: flex-start;
    align-items: normal;
  }
  .title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
  }
  .title h1 {
    font-size: 47px;
  }
  .title-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main {
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: hidden;
  }
  .search_add_task_btn {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .searchfield {
    width: 100%;
  }
  .search-icon {
    right: 10px;
  }
  .separator-search {
    right: 50px;
  }

  .add-task-btn {
    display: none;
  }
  .add-task-btn-s {
    display: block;
    height: 44px;
    width: 44px;
  }

  .add-task-btn-s:hover {
    cursor: pointer;
  }
  .column {
    flex-direction: row;
    width: 1000px;
    height: 240px;
  }
  .col,
  .column {
    align-items: normal;
  }
  .board-columns {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 160px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }

  .column {
    flex-direction: row;
    width: 100%;
    min-width: 90%;
    height: auto;
    overflow-y: auto;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-margin-top: 1rem;
    padding: 1rem 0.4rem;
  }
  .card-s {
    flex-shrink: 0;
  }

  .card-s-move-resp {
    display: block;
  }
  .card-s-move-resp:hover {
    cursor: pointer;
  }
  .card-s-move-resp-menu {
    right: -50px;
    font-size: 16px;
    width: 150px;
  }
}

@media (max-width: 500px) {
  .search-field-and-icons,
  #searchfield {
    width: 250px;
  }
}
