body {
  overflow-y: hidden;
}
.contact-main {
  margin-left: 230px;
  background-color: rgb(246, 245, 245);
  height: calc(100vh - 96px);
  display: flex;
  width: calc(100vw - 230px);
}
.main-contact {
  position: relative;
  margin-top: 8px;
}
.contact-display-container-floating {
  display: none;
}

.contact-list-container {
  background-color: white;
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-top: 20px;
  gap: 30px;
}

.add-contact-btn {
  padding: 12px 12px 12px 12px;
  color: white;
  font-size: 20px;
  background-color: rgba(42, 54, 71, 1);
  width: 352px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.add-contact-btn:hover {
  background-color: rgba(41, 171, 226, 1);
  cursor: pointer;
  transition: background-color 0.25s;
}

.separator {
  background-color: rgba(209, 209, 209, 1);
  height: 2px;
  width: 200px;
  margin: 0 auto;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 352px;
  gap: 20px;
}

.contact-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 7px;
}
.contact-data:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(209, 209, 209, 0.6), rgba(209, 209, 209, 0.2));
  border-radius: 10px;
}
.highlighted:hover {
  cursor: pointer;
  background-image: none;
}

.contact-display-container {
  width: calc(100vw - 680px);
  height: 100%;
  padding-left: 50px;
  padding-top: 30px;
  gap: 30px;
}

.contact-display-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 60px;
  /* padding-bottom: 30px; */
}
.contact-disp-title {
  font-size: 61px;
}
.contact-disp-subtitle {
  font-size: 27px;
}

.contact-disp-separator {
  background-color: rgba(0, 124, 238, 1);
  width: 2px;
  height: 80px;
}

.contact-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 16px;
  font-size: 13px;
}
.list-contact-name {
  font-size: 17px;
}
.list-contact-email {
  font-size: 14px;
  color: rgba(0, 124, 238, 1);
}
.contact-right {
  width: 200px;
  height: 48px;
}
.contact-display-contact-data {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-data-1 {
  display: flex;
  gap: 30px;
  align-items: center;
}
.contact-disp-main {
  display: flex;
  flex-direction: column;
}
.avatar-m {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  padding: 16px;
  border: 2px solid white;
  width: 90px;
  height: 90px;
}
.contact-name-m {
  font-size: 40px;
}
.contact-edit-delete {
  display: flex;
  gap: 20px;
}
.contact-data-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-change {
  display: flex;
  gap: 10px;
  align-items: center;
}
.edit:hover,
.delete:hover {
  cursor: pointer;
  color: rgba(0, 124, 238, 1);
}

.email-phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.email-title,
.phone-title {
  font-weight: 700;
}
.blue {
  color: rgba(0, 124, 238, 1);
}
.contact-data-2-title {
  font-size: 18px;
}
.dp-none {
  display: none;
}
.icon {
  width: 24px;
  height: 24px;
}
.resp-close-icon {
  display: none;
}
.contact-display-container {
  display: block;
}
.cont-header {
  display: flex;
  gap: 30px;
  align-items: center;
}
.contact-disp-main {
  gap: 20px;
}
