@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter_18pt-Regular.ttf);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Inter", "sans-serif";
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(246, 245, 245);
}

header {
  background-color: white;
}

/*General - Submenu*/

.subMenu {
  background-color: #2a3647;
  width: 150px;
  height: 158px;
  position: absolute;
  top: 110px;
  right: 40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}

.subMenu-btns {
  padding: 10px;
  color: #cdcdcd;
}
.subMenu-btns:hover {
  cursor: pointer;
  background-color: #2a3d59;
}

.dp-none {
  display: none;
}

.subMenu {
  animation-duration: 0.25s;
  animation-name: slidesFromLeft;
}

@keyframes slidesFromLeft {
  from {
    top: 110px;
    right: -280px;
  }

  to {
    top: 110px;
    right: 40px;
  }
}

@media (max-width: 800px) {
  #subMenu {
    width: 145px;
    height: 138px;
    font-size: 16px;
  }
}
